.titleLoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.containerButtonSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 4px
}

.buttonCreate {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
