.containerNav {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer a {
    text-decoration: none;
    color: var(--orange);
    font-family: Arimo, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactContainer a {
    text-decoration: none;
    color: var(--orange);
    font-family: Arimo, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
